   body{
      font-family: Trebuchet MS, verdana, sans-serif;
      background-color: #000;
      color: #fff;
   }

	header{
	  margin-top:2px; padding-top:10px;
	}
	
	.monitoringLogotype{
	  max-width:380px; 
	  width:80%; 
	  padding-top:-5px;
	  }
	  
	.dateCube{
	  font-size:0.9em;
	  }
	
	.titleCubes{
	  padding-top:12px; line-height:0.1em;font-size:1.6em;
	  }
	
	nav {
	  display: block;
	  position:fixed;
	  bottom:0px;
	  width:100%;
	  text-align:center;
	  padding:1%
	}
	
	.controlPages{
		background-color:#000; 
		padding:10px; 
		border:1px solid #333; 
		border-radius:10px; 
		min-width:200px !important; 
		max-width:12% !important; 
		margin:0 auto; 
	}
	.btn-control{
		background-color:#000000; 
		border:none !important; 
		color:#ccc !important;
	}
	
	#cube {
	  position: relative;
	  margin: 0 auto;
	  width: 100%;
	  -webkit-transform-style: preserve-3d;
	  -webkit-transition: all 2s ease;
	  transform-style: preserve-3d;
	  transition: all 2s ease;
	}
		
	.cubes{
		width:99.8%; 
		min-height:1500px;
		margin:0 auto; 
		border:1px solid #333; 
		border-radius:10px; 
		padding:1.5% 3% ;
	}

	.cubes1{
		width:99.8%; 
		min-height:1500px;
		margin:130px auto; 
		border:1px solid #333; 
		border-radius:10px; 
		padding:1.5% 3% ;
	}
	.cubes2{
		width:99.8%; 
		min-height:1085px;
		margin:20px auto; 
		border:1px solid #333; 
		border-radius:10px; 
		padding:1.5% 3% ;
	}
	.green{
		box-shadow: 35px 20px 60px 20px #117CEE;
		-moz-box-shadow: 35px 20px 60px 20px #117CEE;
		-webkit-box-shadow: 35px 20px 60px 20px #117CEE;
	}
	.danger{
		box-shadow: 25px 10px 35px 15px #f30;
		-moz-box-shadow: 35px 20px 45px 25px #f30;
		-webkit-box-shadow: 35px 20px 45px 25px #f30;
	}
	.warning{
		box-shadow: 35px 20px 45px 25px #FC0;
		-moz-box-shadow: 35px 20px 45px 25px #FC0;
		-webkit-box-shadow: 35px 20px 45px 25px #FC0;
	}
#GSA_HA2_1 {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 90px;
    font-size: 20px;
    color: #FFFFFF;
}
#GSA_HA12 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
    left: 2060px;
    top: 1200px; 
	width: 500px;
    height: 90px;
    font-size: 20px;
	}
#GSA_HA14 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
    left: 2005px;
    top: 990px; 
	width: 500px;
    height: 90px;
    font-size: 20px;
	}
#GSA_HA15 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
    left: 50px;
    top: 700px; 
	width: 500px;
    height: 190px;
    font-size: 20px;
	}	

#GSA_HA16 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
    left: 1100px;
    top: 1160px; 
	width: 500px;
    height: 90px;
    font-size: 30px;
	}	


	.inactive{
		box-shadow: 35px 20px 45px 15px #ccc;
		-moz-box-shadow: 35px 20px 45px 15px #ccc;
		-webkit-box-shadow: 35px 20px 45px 15px #ccc;
	}
	.obj{
		width: 0px !important;
		height: 0px !important;
		border-radius: 5px;
		position: relative;
		z-index:9999;
	}	
	p.detailNode{
		width:100%;
		min-width:100px;
		font-size:1.9em; 
		line-height:0.9em;
	}	
	.conectionsNode{
		min-width:240px;
		width:150% !important;
		color:#fff !important;
		line-height:0.7em;
		font-size:1.6em;
		margin-top:-5px;
	}
	.ind_CMD
	{
      position:absolute;
	  left:700px;
	  top:50px;
	}
	.iconServices{
		font-size:1.4em !important;
	}
	.nodesImages {
			width: 110px !important;
			margin:-10px 0 0 -20px;
		}
	.modal-title{ font-size:2.8em !important;}
	.modal-body{font-size:1.2em !important;}
	h4{font-size:1.8em !important;}
	

	
	#loading img
	{
		background-image:url(img/activations.png); 
		background-position:center; 
		background-repeat:no-repeat;
		-webkit-animation-name:             rotate; 
		-webkit-animation-duration:         0.5s; 
		-webkit-animation-iteration-count:  infinite;
		-webkit-transition-timing-function: linear;
	}
	
	@media only screen and (min-width:1900px) and (max-width: 2100px)  {
		.pt-page-1{
			background-image:url(../img/backgroundDMS.png) !important;
			background-position:0px 0px !important;
			background-repeat:no-repeat !important;
			}
		.pt-page-2{
			background-image:url(../img/backgroundDMS2.png) !important;
			background-position:0px 0px !important;
			background-repeat:no-repeat !important;
			}
		.pt-page-4{
			background-image:url(../img/bgVideocubo000.png) !important;
			background-position:0px 0px !important;
			background-repeat:no-repeat !important;
			}
	}

	@-webkit-keyframes rotate {
	  from {
		-webkit-transform: rotate(0deg);
	  }
	  to { 
		-webkit-transform: rotate(360deg);
	  }
	}
	
	@media screen and (max-width: 620px) {
		.nodesImages {
			min-width: 40px !important;
			max-width: 50px !important;
			padding-left:10px;
		}
		p.detailNode{
			font-size:0.8em; 
		}	
		p.conectionsNode{
			display:none;
		}	
	}
	
#apDiv5 {
	position: absolute;
	left: 1100px;
	top: -590px;
	width: 457px;
	height: 624px;
	z-index: 3;
}

#apDiv6 {
	position: absolute;
	left: 1530px;
	top: 200px;
	width: 457px;
	height: 624px;
	z-index: 3;
}
#apDiv7 {
	border-style: solid;
    border-width: 1px;
	color:#54a9ea;
	border-color:#09C;
	font-size: 20px;
	text-align: center;
	border-color:#09F;
	position: absolute;
	left: 1680px;
	top: 80px;
	width: 395px;
	height: 42px;
	z-index: 4;
}
#apDiv8 {
	border-style: solid;
    border-width: 1px;
	color:#54a9ea;
	font-size: 20px;
	text-align: center;
	position: absolute;
	left: 1950px;
	top: 80px;
	width: 200px;
	height: 45px;
	z-index: 5;
}
#apDiv9 {
	border-style: solid;
    border-width: 1px;
	color:#FFFFFF;
	font-size: 18px;
	text-align: center;
	position: absolute;
	left: 1420px;
	top: 123px;
	width: 375px;
	height: 65px;
	z-index: 6;
}
#apDiv10 {
	border-style: solid;
    border-width: 1px;
	color:#54a9ea;
	font-size: 20px;
	text-align: center;
	position: absolute;
	left: 1850px;
	top: 123px;
	width: 200px;
	height: 45px;
	z-index: 7;
}
#apDiv11 {
	border-style: solid;
    border-width: 1px;
	color:#FFFFFF;
	font-size: 18px;
	text-align: center;
	position: absolute;
	left: 1820px;
	top: 123px;
	width: 375px;
	height: 65px;
	z-index: 6;
}

#apDiv12 {
	position: absolute;
	left: 100px;
	top: 140px;
	width: 457px;
	height: 624px;
	z-index: 3;
}
#apDiv13 {
	position: absolute;
    left: 2140px; /*	left: 1600px;*/
	top: 140px;
	width: 1257px;
	height: 1924px;
	z-index: 3;
}
#apDiv14 {
	position: absolute;
	left: 2290px;
	top: 480px;
	width: 1257px;
	height: 1924px;
	z-index: 3;
}
#apDiv15 {
	position: absolute;
	left: 2290px;
	top: 780px;
	width: 1257px;
	height: 1924px;
	z-index: 3;
}
.map{
	width:2900px;
	height:980px;
	position:absolute;
	left:30px;
	top:20px;
}	

#GSA_HA1 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
	width: 500px;
	height: 90px;
	font-size: 20px;
	color: #FFFFFF;
	top:-150px;
	left: 50px;
}
#GSA_HA2 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
	width: 500px;
	height: 90px;
	font-size: 20px;
	color: #FFFFFF;
}
#GSA_HA3 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
	width: 500px;
	height: 120px;
	font-size: 20px;
	color: #FFFFFF;
	left: 2130px;
	top: -10px;
}
#GSA_HA13 {
	border-style: solid;
    border-width: 1px;
    text-align: center;
	position: absolute;
    left: 2005px;
    top: 1210px; 
	width: 500px;
    height: 90px;
	font-size: 20px;
	}
	/*Título Azul*/

.ColorTituloAzul{
	/*background-color:rgba(19,82,110,0.5);*/
	background: -webkit-linear-gradient(90deg, rgba(0,0,255, 0.5)  10%, rgba(11,11,59,0.6) 90%);
    background: -moz-linear-gradient(90deg, rgba(0,0,255, 0.5)  10%, rgba(11,11,59,0.6) 90%);
    background: -ms-linear-gradient(90deg, rgba(0,0,255, 0.5)  10%, rgba(11,11,59,0.6) 90%);
    background: -o-linear-gradient(90deg, rgba(0,0,255, 0.5) 10%, rgba(11,11,59,0.6) 90%);
    background: linear-gradient(90deg, rgba(0,0,255, 0.5)  10%, rgba(11,11,59,0.6) 90%);
}

.ColorTituloAzul2{
	/*background-color:rgba(19,82,110,0.5);*/
	background: -webkit-linear-gradient(90deg, rgba(11,116,177, 0.5)  10%, rgba(0,0,255, 0.5) 90%);
    background: -moz-linear-gradient(90deg, rgba(11,116,177, 0.5)  10%, rgba(0,0,255, 0.5) 90%);
    background: -ms-linear-gradient(90deg, rgba(11,116,177, 0.5)  10%, rgba(0,0,255, 0.5) 90%);
    background: -o-linear-gradient(90deg, rgba(11,116,177, 0.5)  10%, rgba(0,0,255, 0.5) 90%);
    background: linear-gradient(90deg, rgba(11,116,177, 0.5)  10%, rgba(0,0,255, 0.5) 90%);
}

.shadow1 { 
  color: while; 
}
.circulo {
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 20px;
}
