#resplandorblanco{   
      -moz-box-shadow: 0px 0px 30px #ffffff;
      -webkit-box-shadow: 0px 0px 30px #ffffff;
      box-shadow: 0px 0px 30px #ffffff;
      padding: 10px;
      border: 1px solid #fff;
      width: 160px;
      margin: 40px;
   }
.tooltip.top .tooltip-inner {
    background-color:white;
  color:black;
}
.tooltip.top .tooltip-arrow {
      border-top-color: white;
}
/*EFECTO PRUEBA*/
@keyframes efecto 
{
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}
.img-contenedor img {
-webkit-transition:all 1s ease; /* Safari y Chrome */
-moz-transition:all 1s ease; /* Firefox */
-o-transition:all 1s ease; /* IE 9 */
-ms-transition:all 1s ease; /* Opera */
width:100%;
}
.img-contenedor:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}
img.double-border {
    border: 2px rgba(0,137,255,0.7);;
    padding: 2px; /*Inner border size*/
    background: rgba(0,64,255,0.7); /*Inner border color*/
}
.img-desc cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 900px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc1 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 760px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc2 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 615px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc3 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 475px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc4 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 335px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc5 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 193px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc6 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc7 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 900px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc8 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 760px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc9 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 615px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc10 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 475px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc11 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 335px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc12 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 193px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc13 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
/*Nuevas Gráficas Tultitlán*/
.img-desc14 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 660px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc15 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 388px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc16 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 114px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
/*Nuevas Gráficas Querétaro*/
.img-desc17 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 660px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc18 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 388px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}
.img-desc19 cite {
    background: #111;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #fff;
    position: absolute;
    bottom: 114px;
    left: 70px;
    width: 555px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #999;
}

.button {
  border-radius: 4px;
  background-color: #0040FF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
   left: 750px;

}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}