// servicio_iptv
	$servicio_iptv_left: 0px;
	$servicio_iptv_top:  -200px;
	@import "scss/servicio_iptv.scss";
	@import "scss/servicio_iptv_animacion.scss";

// dms
	$dms_left:    0px;
	$dms_top:  -200px;
	@import "scss/dms.scss";
	@import "scss/dms_animacion.scss";

// dezzer
	$dezzer_left:    0px;
	$dezzer_top:  -200px;
	@import "scss/dezzer.scss";
	@import "scss/dezzer_animacion.scss";

// batch
	$batch_left:    0px;
	$batch_top:  -200px;
	@import "scss/batch.scss";
	@import "scss/batch_animacion.scss";

// OTT
	$ott_left:    0px;
	$ott_top:  -200px;
	@import "scss/ott.scss";
	@import "scss/ott_animacion.scss";

// IPTV Menu
	$iptv_left:    0px;
	$iptv_top:  -200px;
	@import "scss/iptv.scss";
	@import "scss/iptv_animacion.scss";

// Manager
	$manager_left:    0px;
	$manager_top:  -200px;
	@import "scss/manager.scss";
	@import "scss/manager_animacion.scss";

// ngapps
	$ngapps_left:    0px;
	$ngapps_top:  -200px;
	@import "scss/ngapps.scss";
	@import "scss/ngapps_animacion.scss";